http://reader.epubee.com/books/mobile/bd/bd23bdcc487c79426075ac7c0e46c4e4/text00026.html

In [1]:
import os
SPARK_HOME = '/Users/isang-geon/spark'
# exec(open(os.path.join(os.environ["SPARK_HOME"], 'python/pyspark/shell.py')).read())
exec(open(os.path.join(SPARK_HOME, 'python/pyspark/shell.py')).read())

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.0.1
      /_/

Using Python version 3.8.5 (default, Sep  4 2020 02:22:02)
SparkSession available as 'spark'.

코드 6.2 하이브 지원으로 SparkSession 객체 생성하기

https://statkclee.github.io/bigdata/bigdata-spark-sql.html  
https://spark.apache.org/docs/latest/sql-migration-guide.html  
https://charsyam.wordpress.com/2020/10/30/%EC%9E%85-%EA%B0%9C%EB%B0%9C-spark%EC%97%90%EC%84%9C-parquet-%ED%8C%8C%EC%9D%BC-custom-schema-%EB%A1%9C-%EC%9D%BD%EC%96%B4%EB%93%A4%EC%9D%B4%EA%B8%B0/

In [2]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType

schema = StructType() \
      .add("station_id",IntegerType(),True) \
      .add("name",StringType(),True) \
      .add("lat",DoubleType(),True) \
      .add("long",DoubleType(),True) \
      .add("dockcount",IntegerType(),True) \
      .add("landmark",StringType(),True) \
      .add("installation",StringType(),True)

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option") \
    .getOrCreate()


stations = spark.read.schema(schema).csv(SPARK_HOME + "/data/bike-share/stations/stations.csv", inferSchema = True, header = False)
# iris_df = spark.read.csv(SPARK_HOME + "/data/bike-share/stations/stations.csv", inferSchema = True, header = False)

stations.show(5)

+----------+--------------------+---------+-----------+---------+--------+------------+
|station_id|                name|      lat|       long|dockcount|landmark|installation|
+----------+--------------------+---------+-----------+---------+--------+------------+
|         2|San Jose Diridon ...|37.329732|-121.901782|       27|San Jose|    8/6/2013|
|         3|San Jose Civic Ce...|37.330698|-121.888979|       15|San Jose|    8/5/2013|
|         4|Santa Clara at Al...|37.333988|-121.894902|       11|San Jose|    8/6/2013|
|         5|    Adobe on Almaden|37.331415|  -121.8932|       19|San Jose|    8/5/2013|
|         6|    San Pedro Square|37.336721|-121.894074|       15|San Jose|    8/7/2013|
+----------+--------------------+---------+-----------+---------+--------+------------+
only showing top 5 rows

In [3]:
stations.createOrReplaceTempView("stations_table")

spark.sql("SELECT * FROM stations_table LIMIT 5").show()

+----------+--------------------+---------+-----------+---------+--------+------------+
|station_id|                name|      lat|       long|dockcount|landmark|installation|
+----------+--------------------+---------+-----------+---------+--------+------------+
|         2|San Jose Diridon ...|37.329732|-121.901782|       27|San Jose|    8/6/2013|
|         3|San Jose Civic Ce...|37.330698|-121.888979|       15|San Jose|    8/5/2013|
|         4|Santa Clara at Al...|37.333988|-121.894902|       11|San Jose|    8/6/2013|
|         5|    Adobe on Almaden|37.331415|  -121.8932|       19|San Jose|    8/5/2013|
|         6|    San Pedro Square|37.336721|-121.894074|       15|San Jose|    8/7/2013|
+----------+--------------------+---------+-----------+---------+--------+------------+

코드 6.3 스파크 SQL을 사용한 하이브 쿼리

In [4]:
spark.sql("""SELECT name, lat, long FROM stations_table WHERE landmark = 'San Jose'""").show()

+--------------------+---------+-----------+
|                name|      lat|       long|
+--------------------+---------+-----------+
|San Jose Diridon ...|37.329732|-121.901782|
|San Jose Civic Ce...|37.330698|-121.888979|
|Santa Clara at Al...|37.333988|-121.894902|
|    Adobe on Almaden|37.331415|  -121.8932|
|    San Pedro Square|37.336721|-121.894074|
|Paseo de San Antonio|37.333798|-121.886943|
| San Salvador at 1st|37.330165|-121.885831|
|           Japantown|37.348742|-121.894715|
|  San Jose City Hall|37.337391|-121.886995|
|         MLK Library|37.335885| -121.88566|
|SJSU 4th at San C...|37.332808|-121.883891|
|       St James Park|37.339301|-121.889937|
|Arena Green / SAP...|37.332692|-121.900084|
|SJSU - San Salvad...|37.333955|-121.877349|
|Santa Clara Count...|37.352601|-121.905733|
|         Ryland Park|37.342725|-121.895617|
+--------------------+---------+-----------+

↓↓↓↓↓↓↓↓↓========================================================↓↓↓↓↓↓↓↓↓↓

In [ ]:
실패한 것들인데 쓸만한것 같아 남겨둠

https://sparkbyexamples.com/pyspark/pyspark-read-csv-file-into-dataframe/
http://jason-heo.github.io/bigdata/2019/07/14/spark-csv.html

In [6]:
# import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains

schema = StructType() \
      .add("station_id",IntegerType(),True) \
      .add("name",StringType(),True) \
      .add("lat",DoubleType(),True) \
      .add("long",DoubleType(),True) \
      .add("dockcount",IntegerType(),True) \
      .add("landmark",StringType(),True) \
      .add("installation",StringType(),True)

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

df3 = spark.read.options(header='True', delimiter=',') \
  .csv(SPARK_HOME + "/data/bike-share/stations/stations.csv")
df3.printSchema()

root
 |-- 2: string (nullable = true)
 |-- San Jose Diridon Caltrain Station: string (nullable = true)
 |-- 37.329732: string (nullable = true)
 |-- -121.901782: string (nullable = true)
 |-- 27: string (nullable = true)
 |-- San Jose: string (nullable = true)
 |-- 8/6/2013: string (nullable = true)

In [7]:
df_with_schema = spark.read.format("csv") \
      .option("header", True) \
      .schema(schema) \
      .load(SPARK_HOME + "/data/bike-share/stations/stations.csv")
df_with_schema.printSchema()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: string (nullable = true)

In [8]:
df_with_schema.show()

+----------+--------------------+---------+-----------+---------+-------------+------------+
|station_id|                name|      lat|       long|dockcount|     landmark|installation|
+----------+--------------------+---------+-----------+---------+-------------+------------+
|         3|San Jose Civic Ce...|37.330698|-121.888979|       15|     San Jose|    8/5/2013|
|         4|Santa Clara at Al...|37.333988|-121.894902|       11|     San Jose|    8/6/2013|
|         5|    Adobe on Almaden|37.331415|  -121.8932|       19|     San Jose|    8/5/2013|
|         6|    San Pedro Square|37.336721|-121.894074|       15|     San Jose|    8/7/2013|
|         7|Paseo de San Antonio|37.333798|-121.886943|       15|     San Jose|    8/7/2013|
|         8| San Salvador at 1st|37.330165|-121.885831|       15|     San Jose|    8/5/2013|
|         9|           Japantown|37.348742|-121.894715|       15|     San Jose|    8/5/2013|
|        10|  San Jose City Hall|37.337391|-121.886995|       15|     San Jose|    8/6/2013|
|        11|         MLK Library|37.335885| -121.88566|       19|     San Jose|    8/6/2013|
|        12|SJSU 4th at San C...|37.332808|-121.883891|       19|     San Jose|    8/7/2013|
|        13|       St James Park|37.339301|-121.889937|       15|     San Jose|    8/6/2013|
|        14|Arena Green / SAP...|37.332692|-121.900084|       19|     San Jose|    8/5/2013|
|        16|SJSU - San Salvad...|37.333955|-121.877349|       15|     San Jose|    8/7/2013|
|        21|   Franklin at Maple|37.481758|-122.226904|       15| Redwood City|   8/12/2013|
|        22|Redwood City Calt...|37.486078|-122.232089|       25| Redwood City|   8/15/2013|
|        23|San Mateo County ...|37.487616|-122.229951|       15| Redwood City|   8/15/2013|
|        24|Redwood City Publ...|37.484219|-122.227424|       15| Redwood City|   8/12/2013|
|        25|Stanford in Redwo...| 37.48537|-122.203288|       15| Redwood City|   8/12/2013|
|        26|Redwood City Medi...|37.487682|-122.223492|       15| Redwood City|   8/12/2013|
|        27|Mountain View Cit...|37.389218|-122.081896|       15|Mountain View|   8/16/2013|
+----------+--------------------+---------+-----------+---------+-------------+------------+
only showing top 20 rows

↑↑↑↑↑↑↑=================================================↑↑↑↑↑↑↑↑↑

코드 6.5 하이브의 테이블에서 데이터프레임 만들기

In [5]:
sql_cmd = """SELECT name, lat, long
FROM stations_table
WHERE landmark = 'San Jose'"""

df = spark.sql(sql_cmd)
df.count()

16

In [6]:
df.show(5)

+--------------------+---------+-----------+
|                name|      lat|       long|
+--------------------+---------+-----------+
|San Jose Diridon ...|37.329732|-121.901782|
|San Jose Civic Ce...|37.330698|-121.888979|
|Santa Clara at Al...|37.333988|-121.894902|
|    Adobe on Almaden|37.331415|  -121.8932|
|    San Pedro Square|37.336721|-121.894074|
+--------------------+---------+-----------+
only showing top 5 rows

코드 6.6 하이브의 테이블에서 데이터프레임을 만드는 table() 메소드

In [7]:
df = spark.table('stations_table')
df.columns

['station_id', 'name', 'lat', 'long', 'dockcount', 'landmark', 'installation']

In [8]:
df.count()

70

코드 6.7 JSON 파일에서 데이터프레임을 만드는 read.json() 메소드

In [9]:
people_json_file = SPARK_HOME + '/examples/src/main/resources/people.json'
people_df = spark.read.json(people_json_file)
people_df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

코드 6.8 JSON RDD에 데이터프레임 만들기

In [10]:
rdd = sc.parallelize( \
                    ['{"name":"Adobe on Almaden", "lat":37.331415, "long":-121.8932}', \
                    '{"name":"Japantown", "lat":37.348742, "long":-121.894715}'])
json_df = spark.read.json(rdd)
json_df.show()

+---------+-----------+----------------+
|      lat|       long|            name|
+---------+-----------+----------------+
|37.331415|  -121.8932|Adobe on Almaden|
|37.348742|-121.894715|       Japantown|
+---------+-----------+----------------+

코드 6.9 하나 이상의 플레인 텍스트 파일에서 데이터프레임 만들기

In [11]:
# read an individual file
df = spark.read.text('file://' + SPARK_HOME + '/data/bike-share/stations/stations.csv')
df.take(1)

[Row(value='2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013')]

In [12]:
# you can also read all files from a directory...
df = spark.read.text('file://' + SPARK_HOME + '/data/bike-share/stations/')
df.count()

70

코드 6.10 하나 이상의 파케이 파일에서 데이터프레임 만들기

In [13]:
# # df = spark.read.parquet('hdfs://' + SPARK_HOME + '/hadoopdata/stations.parquet')
# df = spark.read.parquet('file://' + SPARK_HOME + '/hadoopdata/stations.parquet')
# df.printSchema()

In [14]:
# df.take(1)

코드 6.11 하이브 ORC 파일에서 데이터프레임 만들기

In [15]:
# # df = spark.read.parquet('hdfs://' + SPARK_HOME + '/hadoopdata/stations_orc')
# df = spark.read.parquet('file://' + SPARK_HOME + '/hadoopdata/stations_orc')
# df.printSchema()

In [16]:
# df.take(1)

코드 6.12 데이터프레임을 RDD로 변환하기

In [17]:
# # stationsdf = spark.read.parquet('hdfs://' + SPARK_HOME + '/hadoopdata/stations.parquet')
# stationsdf = spark.read.parquet('file://' + SPARK_HOME + '/hadoopdata/stations.parquet')
# stationsrdd = stationsdf.rdd
# stationsrdd

In [18]:
# stationsrdd.take(1)

코드 6.13 RDD에서 생성된 데이터프레임의 스키마 추론

In [24]:
rdd = sc.textFile('file://' + SPARK_HOME + '/data/bike-share/stations/stations.csv') \
        .map(lambda x: x.split(',')) \
        .map(lambda x:(int(x[0]), str(x[1]),
                      float(x[2]), float(x[3]),
                      int(x[4]), str(x[5]), str(x[6])))
rdd.take(2)

[(2,
  'San Jose Diridon Caltrain Station',
  37.329732,
  -121.901782,
  27,
  'San Jose',
  '8/6/2013'),
 (3,
  'San Jose Civic Center',
  37.330698,
  -121.888979,
  15,
  'San Jose',
  '8/5/2013')]

In [25]:
df = spark.createDataFrame(rdd)
df.printSchema()

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: double (nullable = true)
 |-- _4: double (nullable = true)
 |-- _5: long (nullable = true)
 |-- _6: string (nullable = true)
 |-- _7: string (nullable = true)

스키마 추론은 JSON 문서에서 생성된 데이터프레임에 대해 자동으로 수행된다. (코드 6.14)  
코드 6.14 JSON 객체에서 생성된 데이터프레임에 대한 스키마 추론

In [26]:
rdd = sc.parallelize( \
                    ['{"name":"Adobe on Almaden", "lat":37.331415, "long":-121.8932}', \
                    '{"name":"Japantown", "lat":37.348742, "long":-121.894715}'])
df = spark.read.json(rdd)
df.printSchema()

root
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- name: string (nullable = true)

하이브 테이블에서 생성된 데이터프레임의 스키마는 하이브  정의로부터 자동으로 상속된다. (코드 6.15)  
코드 6.15 하이브 테이블에서 생성된 데이터프레임 스키마

In [27]:
df = spark.table("stations_table")
df.printSchema()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: string (nullable = true)

코드 6.16 명시적으로 데이터프레임에 대한 스키마 정의하기

In [28]:
from pyspark.sql.types import *
myschema = StructType([ \
                      StructField("station_id", IntegerType(), True), \
                      StructField("name", StringType(), True), \
                      StructField("lat", FloatType(), True), \
                      StructField("long", FloatType(), True), \
                      StructField("dockcount", IntegerType(), True), \
                      StructField("landmark", StringType(), True), \
                      StructField("installation", StringType(), True), \
                      ])
rdd = sc.textFile("file://" + SPARK_HOME + '/data/bike-share/stations/stations.csv') \
        .map(lambda x: x.split(',')) \
        .map(lambda x:(int(x[0]), str(x[1]),
                      float(x[2]), float(x[3]),
                      int(x[4]), str(x[5]), str(x[6])))
df = spark.createDataFrame(rdd, myschema)
df.printSchema()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- long: float (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: string (nullable = true)

코드 6.23 스파크 SQL 데이터프레임을 사용한 map() 함수

In [ ]:
# f = sqlContext.read.parquet('hdfs:///.../stations.parquet')
# rdd = df.map (lambda r: r.name)
# rdd
# PythonRDD[11] at collect at<stdin>:1
# rdd.take(1)
# [u'San Jose Diridon Caltrain Station']

select()는 새 데이터프레임을 반환하지만, map과 flatMap은 새 RDD를 반환한다.

코드 6.25 스파크 SQL의 사용자 정의 함수

In [ ]:
# df = spark.read.parquet('hdfs:///.../stations.parquet')
# from pyspark.sql.functions import *
# from pyspark.sql.types import *
# lat2dir = udf (lambda x: 'N' if x > 0 else 'S', StringType())
# lon2dir = udf (lambda x: 'E' if x > 0 else 'W', StringType())
# df.select(df.lat, lat2dir(df.lat).alias('latdir'),
#           df.long, lon2dir(df.lat).alias('longdir')) \
#          .show()
# +---------+------+-----------+-------+
# |      lat|latdir|       long|longdir|
# +---------+------+-----------+-------+
# |37.329732|     N|-121.901782|      E|
# |37.330698|     N|-121.888979|      E|
# |   ...   |  ... |    ...    |  ...  |
# +---------+------+-----------+-------+

코드 6.28 데이터프레임의 데이터 그룹화 및 집계

In [ ]:
# trips = spark.table("trips")
# averaged = trips.groupBy ([trips.start_terminal]).avg('duration') \
#                 .show(2)
# +--------------+------------------+
# |start_terminal|     avg(duration)|
# +--------------+------------------+
# |            31|2747.6333021515434|
# |            32|1676.1081300813007|
# +--------------+------------------+

코드 6.29 하이브 테이블에 데이터프레임 저장하기

In [29]:
tations = spark.table("stations_table")
stations.select([stations.station_id,stations.name]).write \
        .saveAsTable ("station_names")
# load new table
station_names = spark.table("station_names")
station_names.show(2)
# +----------+--------------------+
# |station_id|                name|
# +----------+--------------------+
# |         2|San Jose Diridon ...|
# |         3|San Jose Civic Ce...|
# +----------+--------------------+

+----------+--------------------+
|station_id|                name|
+----------+--------------------+
|         2|San Jose Diridon ...|
|         3|San Jose Civic Ce...|
+----------+--------------------+
only showing top 2 rows

코드 6.30 CSV 파일에 데이터프레임 작성하기

In [ ]:
# spark.table("stations_table") \
#         .write.csv("stations_csv")

코드 6.31 파케이 파일에 데이터프레임 저장하기

In [30]:
# spark = SparkSession.builder \
#                     .config("spark.sql.parquet.compression.codec.", "snappy") \
#                     .getOrCreate()
# stations = spark.table("stations_table")
# stations.select([stations.station_id,stations.name]).write \
#         .parquet("file://" + SPARK_HOME + "/hadoopdata/stations.parquet", mode='overwrite')